alabaster==0.7.10
asn1crypto==0.24.0
asteval==0.9.13
astroid==1.6.3
astropy==2.0.6
attrs==18.1.0
Babel==2.5.3
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.10.1
bleach==2.1.3
bokeh==0.12.16
boto==2.48.0
Bottleneck==1.2.1
future==0.16.0
futures==3.1.1
ipython==5.7.0
ipython-genutils==0.2.0
ipywidgets==7.2.1
lmfit==0.9.11
matplotlib==2.2.2
mkl-fft==1.0.6
mpmath==1.0.0
notebook==5.5.0
numpy==1.14.3
numpydoc==0.8.0
pandas==0.23.0
scipy==1.1.0
sympy==1.1.1
tables==3.4.3
tblib==1.3.2
toolz==0.9.0
